@charset "utf-8";
/* CSS Document */

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

/*-----------------------------GENERAL-------------------------------*/

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F0F0;
    font-family: "Funnel Display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}

/*-----------------------------WEB-------------------------------*/

h1{
    font-size: 150px;
    font-weight: 500;
}

h2{
    font-size: 36px;
    font-weight: 600;
}

h3{
    font-size: 22px;
    font-weight: 600;
}

h4{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.72px;
}

h5{
    font-size: 20px;
    font-weight: 500;
}

/*-----------------------------HEADER-------------------------------*/

header{
    background-color: #008EDB;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10000;
}

header nav{
    padding: 13px 200px 13px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonera-header{
    font-size: 20px;
    font-weight: 700;
    color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.boton-nav{
    transition: color 200ms ease-in-out;
}

.boton-nav :hover{
    color: #FFED00;
}

#menu-toggle {
    display: none;
}

.menu-icono {
    display: none;
    cursor: pointer;
}

/*-----------------------------FOOTER-------------------------------*/

footer{
    background-color: #008EDB;
    color: #F0F0F0;
    width: 100%;
    border-radius: 80px 80px 0px 0px;
}

.iconos-redes{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 44px;
}

.redes-sociales{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 56px;
}

.div-footer{
    padding: 37px 200px 37px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*index*/


.estado-servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.titulo-box-azul{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box-azul{
    color: #F0F0F0;
    background-color: #008EDB;
    padding: 10px 26px;
}

.tabla-estados{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

.estado-ramales{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
}

.r-electricos-titulo{
    color: #F0F0F0;
    background-color: #008EDB;
    border-radius: 50px 0px 0px 0px;
    padding: 15px 97px;
}

.r-diesel-titulo{
    color: #F0F0F0;
    background-color: #008EDB;
    padding: 15px 130px;
}

.r-larga-titulo{
    color: #F0F0F0;
    background-color: #008EDB;
    border-radius: 0px 50px 0px 0px;
    padding: 15px 61px;
}

.ramales{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
}

.lista-ramales{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.lista-ramales li{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 40px;
}

.p-ramales{
    color: #1D1D1B;
    font-size: 22px;
    font-weight: 600;
}

.referencia{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
}

.referencia li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

/*-----------------------------TIENDA-------------------------------*/
.portada {
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
}

.portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.texto-superpuesto{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #F0F0F0;
    transform: translate(-50%, -50%);
}

.flecha {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    animation: salto 1.5s infinite ease-in-out;
}

@keyframes salto {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(20px);
  }
}

.separador img {
    width: 100%;
    height: 100%;
}

.donar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 10%;
    background-color: #f4f4f4;
    flex-wrap: wrap;
}

.texto-donar {
    flex: 1;
    max-width: 84vh;
}

.texto-donar h3 {
    color: #008EDB;
    font-weight: 600;
    font-size: 1.6em;
    margin-bottom: 20px;
}

.texto-donar p {
    color: #1D1D1B;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-weight: lighter;
}

.boton-donar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.btn-donar {
    background-color: #008EDB;
    color: white;
    text-decoration: none;
    padding: 10px 80px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: none;
}

.btn-donar:hover {
    background-color: #FFED00;
    color: #1D1D1B;
}


/*-----Seccion remeras------*/
.tienda {
    text-align: center;
    padding: 60px 20px;
    background-color: #008EDB;
}

.tienda img{
    width: 100%;
}

.tienda h2 {
    font-size: 1.8em;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #F0F0F0;
}

.tienda p {
    font-size: 20px;
    font-weight: lighter;
    max-width: 900px;
    margin: 0 auto 100px auto;
    color: #F0F0F0;
}

.grid-remeras {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 60px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.producto {
    background-color: white;
    overflow: hidden;
    padding-bottom: 10px;
}

.producto img {
    width: 80%;
    margin: 30px 20px 0 20px;
}

.info {
    padding: 15px;
    margin-left: 25px;
}

.info .titulo {
    color: #008EDB;
    font-size: 16px;
    margin: 10px 0 5px;
}

.info p {
    margin-bottom: 0;
    color: #008EDB;
    font-weight: lighter;
    text-align: justify;
}

.info button {
    background-color: #0087d2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.info button:hover {
    background-color: #FFED00;
    color: #1D1D1B;
}

.fila-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.fila-info p {
    font-weight: bold;
    font-size: 14px;
}

.fila-info button {
    padding: 8px 20px;
    font-size: 12px;
    font-weight: lighter;
}










































































/*---------------------------CONTACTO-----------------------------*/
.contacto{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 150px;
    margin-bottom: 150px;
    gap: 40px;
}
/*-----columna derecha-----*/
.izquierda{
    display: flex;
    flex-direction: column;
    max-width: 836px;
    gap: 46px;

}

.arriba-izq{
    display: flex;
    align-items: start;
    gap: 10px;
}
.texto-izq h2{
    color: #008EDB;
}

.texto-izq{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 834px;
}
/*-----columna derecha formulario-----*/
.derecha{
    display: flex;
    align-items: flex-start;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.form-arriba{
    padding: 23px 75px 23px 49px;
    border-radius: 50px 0px 0px 0px;
    background-color: #008EDB;
}
.form-arriba p{
    color: #F0F0F0;
}


.form-abajo{
    background-color: #008EDB;
    border-radius: 0px 0px 49px 49px;
    padding: 33px 39px;
    display: flex;
    flex-direction: column;
    padding: 5px 39px 33px;
    color: #F0F0F0;
}

.casillas{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.botones-form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.boton-enviar{
    background-color: #008EDB;
    border: #F0F0F0 2px solid;
    padding: 10px 20px;
}
.boton-enviar:hover{
    background-color: #FFED00;
    border:#008EDB 2px solid;
    color: #1D1D1B;
}

.casillas-form{
    background-color: #008EDB;
    border: 0px;
    border-bottom:#F0F0F0 2px solid;
    padding-top: 20px;
    
}

.casillas-form{
    background-color: #008EDB;
    border: 0px;
    border-bottom:#F0F0F0 2px solid;
    padding-top: 20px;
    
}

input{
    background-color: #008EDB;
    border: 0px;
    border-bottom: #F0F0F0 2px solid;
    padding-top: 20px;
    color: #F0F0F0;
    font-family: "Funnel Display", sans-serif;
    font-size: 16px;
}

input::placeholder {

    color: #006da7;
}

textarea::placeholder {
    color: #006da7;
}

select{
    background-color: #008EDB;
    border: 0px;
    border-bottom: #F0F0F0 2px solid;
    padding-top: 20px;
    color: #006da7;
    font-family: "Funnel Display", sans-serif;
    font-size: 16px;
}
textarea{
    background-color: #008EDB;
    border: 0px;
    border-bottom: #F0F0F0 2px solid;
    padding-top: 20px;
    font-family: "Funnel Display", sans-serif;
    font-size: 16px;
}

.check-texto{
    display: flex;
    font-family: "Funnel Display", sans-serif;
    font-size: 15px;
    align-items: center;
    gap: 5px;
}




/*--------------------------MEMES----------------------*/


.memes-principal{
    display: flex;
    align-items: center;
}

.galeria h2{
    padding-top: 27px;
    color: #008EDB;
}
.galeria{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-container{
    justify-content: center;
    padding: 30px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 20px;
}

.grid-container img:hover{
    width: 205px;
    height: 206px;
}

.boton-ver-mas{
    background-color: #FFED00;
    padding: 10px;
    margin-bottom: 40px;
}

/*-----galeria de prueba-----*/

.galeria-popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.popup-completo{
    width: 100vw;
    height: 100vh;
    background: rgba(23, 22, 20, 0.70);
    display: none;
    justify-content: center;
    align-items: center;
    gap: 85px;
    padding: 100px 0px;
}

.popup-completo:target{
    display: flex;
}

.popup-der{
    color: #F5F2ED;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 231px;
}

.cruz-popup{
    background-image: url('img/vectores/cruz-galeria-popup.svg');
    width: 41px;
    height: 41px;
    background-size: cover;
    background-position: center;
}



























































































































































































/*-----------------------------INDEX-------------------------------*/

.separador-ind{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: auto;
}

.estado-servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.titulo-box-azul{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box-azul{
    color: #F0F0F0;
    background-color: #008EDB;
    padding: 10px 26px;
}

.tabla-estados{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

.estado-ramales{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
}

.r-electricos-titulo{
    color: #F0F0F0;
    background-color: #008EDB;
    border-radius: 50px 0px 0px 0px;
    padding: 15px 97px;
}

.r-diesel-titulo{
    color: #F0F0F0;
    background-color: #008EDB;
    padding: 15px 130px;
}

.r-larga-titulo{
    color: #F0F0F0;
    background-color: #008EDB;
    border-radius: 0px 50px 0px 0px;
    padding: 15px 61px;
}

.ramales{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
}

.lista-ramales{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.lista-ramales li{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 40px;
}

.p-ramales{
    color: #1D1D1B;
    font-size: 22px;
    font-weight: 600;
}

.referencia{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
}

.referencia li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

/*-----------------------------TIENDA-------------------------------*/
.portada {
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.texto-superpuesto{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #F0F0F0;
    transform: translate(-50%, -50%);
}

.flecha {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    animation: salto 1.5s infinite ease-in-out;
}

@keyframes salto {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(20px);
  }
}

.separador img {
    width: 100%;
    height: 100%;
}

.donar {
    display: flex;
    margin: 150px 200px;
}

.texto-donar h3 {
    color: #008EDB;
}
 


















































/*---------------------------HORARIOS-----------------------------*/

.main-horarios {
    max-width: 100%;
    overflow-x: hidden;  
    padding-top: 100px;     
}

/*-----section alerta----- */

.slider {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.alerta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    background-color: #008EDB;
}

.sirena {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
}

.slider-track {
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 0 40px;
    letter-spacing: 1px;
}

.alerta-texto {
    font-size: 20px;
    font-weight: 200;
    color: white;
}


/* Animación */
@keyframes scroll {
    0% {
    transform: translateX(0%);
    }
    100% {
    transform: translateX(-50%);
    }
}

.boton-info {
    background-color: #FFED00;
    padding: 10px 70px;
}

.boton-info:hover{
    background-color: black;
    color: #F0F0F0;
}

.separador {
    background-color: #F0F0F0;
}


/*-----section horarios----- */

.titulo-horarios {
    display: flex;
    align-items: end;
}

.titulo-horarios div {
    display: flex;
    align-items: center;
}

.horarios {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background-color: #F0F0F0;
    padding: 10px 5px;
}

.titulo {
    background-color: #008EDB;
    color: #F0F0F0;
    padding: 1px 50px 0px 50px;
    letter-spacing: 2px;
}

.input1, .input2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #008EDB;
    color: #F0F0F0;
    padding: 8px 16px;
    width: 230px;
    margin: 5px;
}

.espacio, .espacio2 {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.boton-buscar {
    background-color: #FFED00;         
    font-size: 16px;
    font-weight: 500;
    padding: 5px 80px;
    display: block;
    margin: 0 auto;   
    border: none;
}

.boton-buscar:hover {
    background-color: black;
    color: #F0F0F0;
}

.inputs-horarios {
    display: flex;
    align-items: center;
    gap: 30px;
}

.gap-inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*-----img mapa-----*/

.mapa-img {
    width: 100%;
    max-width: 1724px;
    height: auto;
}



































































































































































































































































































































































































/*-----------------------------MÁS INDEX-------------------------------*/

#main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.cdr-titulo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.subt-superpuesto{
    color: #F0F0F0;
    width: 25%;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-----Seccion comentarios-----*/

.t-blanco{
    color: #F0F0F0;
}

.t-azul{
    color: #008EDB;
}

.comentarios-ind{
    background-color: #008EDB;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px 0px;
}

.titulo-comentarios{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.box-blanca{
    padding: 10px 120px;
    background-color: #F0F0F0;
    color: #008EDB;
}

.tweets{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
    width: 95%;
}

.tweets-mobile{
    display: none;
}

/*-----Seccion multimedia-----*/

.multimedia-ind{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-top: 35px;
}

.titulo-multim{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;

}

.dos-columnas{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 254px;
}

.tema-oficial, .slider-memes-ind{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.carrusel-memes {
  position: relative;
  width: 415px;
  height: 415px;
  overflow: hidden;
  z-index: 1;
}

.slides-meme {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide-meme {
  width: 100%;
  flex-shrink: 0;
}

.slide-meme img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


input[name="radio-btn"] {
  display: none;
}


.nav-dots {
  text-align: center;
  position: absolute;
  bottom: 2px;
  width: 100%;
}

.nav-dots label {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: #008EDB;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

input#radio1:checked ~ .slides-meme {
  transform: translateX(0%);
}

input#radio2:checked ~ .slides-meme {
  transform: translateX(-100%);
}

input#radio3:checked ~ .slides-meme {
  transform: translateX(-200%);
}

input#radio1:checked ~ .nav-dots label[for="radio1"],
input#radio2:checked ~ .nav-dots label[for="radio2"],
input#radio3:checked ~ .nav-dots label[for="radio3"] {
  background-color: #FFED00;
}

.boton-vermas-ind{
    border: none;
    padding: 7px 50px;
    color: #008EDB;
    font-family: "Funnel Display", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.boton-vermas-ind:hover{
    color: #1D1D1B;
    background-color: #FFED00;
}

/*-----Seccion reclamos-----*/

.reclamos-ind{
    width: 100%;
    padding: 50px 0px 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.reclamos-ind h4{
    width: 38%;
}

.boton-reclamo{
    border: none;
    color: #F0F0F0;
    background-color: #008EDB;
    padding: 12px 90px;
    font-family: "Funnel Display", sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.boton-reclamo:hover{
    color: #1D1D1B;
    background-color: #FFED00;
}

.separador {
    background-color: #F0F0F0;
}



/*-----------------------------RESPONSIVE-------------------------------*/

@media screen and (max-width: 600px){
    
/*-----Estilos-----*/

    h1{
    font-size: 60px;
    font-weight: 500;
    }

    h2{
        font-size: 18px;
        font-weight: 600;
    }

    h3{
        font-size: 24px;
        font-weight: 600;
    }

    h4{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.72px;
    }

    h5{
        font-size: 20px;
        font-weight: 500;
    }

    .p-ramales{
        font-size: 18px;
    }

    .p-referencia{
        font-size: 16px;
    }

/*-----Header-----*/

    #menu-toggle:checked + .menu-icono + .botonera-header {
        display: flex;
    }
    #menu-toggle:checked + .menu-icono {
        background-image: url('img/vectores/menu-hamburguesa.svg');
        width: 26px;
        height: 19px;
    }

    header nav{
        padding: 20px 30px 13px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .botonera-header {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 40px;
        width: 100%;
        height: 100vh;
        background-color: #008EDB;
        position: fixed;
        top: 0;
        right: 0;
        padding: 200px;
        transition: background 0.4s ease;
        padding: 20px 50px;
    }

    .botonera-header li {
        display: flex;
        text-align: center;
        font-size: 24px;
    }

    .menu-icono {
        display: flex;
        z-index: 1;
        background-image: url('img/vectores/menu-hamburguesa.svg');
        background-size: cover;
        width: 26px;
        height: 19px;
        transition: background-image 0.4s ease;
    }

/*-----Index-----*/

    .texto-superpuesto{
    top: 150px;
    left: 50%;
    }

    .subt-superpuesto{
        top: 220px;
        left: 50%;
        width: 50%;
    }

    .flecha {
        position: absolute;
        top: 260px;
        left: 50%;
        transform: translateX(-50%);
        animation: salto 1.5s infinite ease-in-out;
        height: 50px;
        width: auto;
    }

    .separador-ind{
        display: none;
    }

    .titulo-box-azul img{
        width: 50px;
        height: auto;
    }

    .estado-ramales{
        flex-direction: column;
        align-items: center;
    }

    .r-electricos-titulo , .r-diesel-titulo , .r-larga-titulo{
        border-radius: 50px 50px 0px 0px;
    }

    .referencia{
        padding-left: 27px;
    }

    .box-blanca{
        padding: 10px 95px;
    }

    .oculto-mobile , .tweets{
        display: none;
    }

    .tweets-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .t-mult-mobile{
        font-size: 24px;
    }

    .dos-columnas{
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .tema-oficial iframe{
        width: 90vw;
        height: 30vh;
    }

    .reclamos-ind{
        flex-direction: column;
        align-items: center;
    }

    .reclamos-ind h4{
        width: 80%;
        text-align: center;
    }

    .separador-mobile{
        width: 590px;
        height: auto;
    }

    .div-footer{
        padding: 37px 30px 37px 30px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}

