@charset "utf-8";
/* CSS Document */

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

/*-----------------------------GENERAL-------------------------------*/

* {
    font-family: "Funnel Display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F0F0;
}

/*-----------------------------WEB-------------------------------*/

h1{
    font-size: 150px;
    font-weight: 500;
}

h2{
    font-size: 36px;
    font-weight: 600;
}

h3{
    font-size: 32px;
    font-weight: 600;
}

h4{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.72px;
}

h5{
    font-size: 20px;
    font-weight: 500;
}

/*-----------------------------HEADER-------------------------------*/

header{
    background-color: #008EDB;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

header div{
    padding: 13px 200px 13px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonera-header{
    font-size: 20px;
    font-weight: 700;
    color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.boton-nav{
    transition: color 200ms ease-in-out;
}

.boton-nav :hover{
    color: #FFED00;
}

/*-----------------------------FOOTER-------------------------------*/

footer{
    background-color: #008EDB;
    color: #F0F0F0;
    width: 100%;
    border-radius: 80px 80px 0px 0px;
}

.iconos-redes{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 44px;
}

.redes-sociales{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 56px;
}

.div-footer{
    padding: 37px 200px 37px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*index*/

.separador-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.estado-servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.titulo-box-azul{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box-azul{
    color: #F0F0F0;
    background-color: #008EDB;
    padding: 10px 26px;
}

.tabla-estados{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

.estado-ramales{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
}

.r-electricos-titulo{
    color: #F0F0F0;
    background-color: #008EDB;
    border-radius: 50px 0px 0px 0px;
    padding: 15px 97px;
}

.r-diesel-titulo{
    color: #F0F0F0;
    background-color: #008EDB;
    padding: 15px 130px;
}

.r-larga-titulo{
    color: #F0F0F0;
    background-color: #008EDB;
    border-radius: 0px 50px 0px 0px;
    padding: 15px 61px;
}

.ramales{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
}

.lista-ramales{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.lista-ramales li{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 40px;
}

.p-ramales{
    color: #1D1D1B;
    font-size: 22px;
    font-weight: 600;
}

.referencia{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
}

.referencia li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

/*-----------------------------TIENDA-------------------------------*/
.portada {
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
}

.portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.texto-superpuesto{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #F0F0F0;
    transform: translate(-50%, -50%);
}

.flecha {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    animation: salto 1.5s infinite ease-in-out;
}

@keyframes salto {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(20px);
  }
}

.separador img {
    width: 100%;
    height: 100%;
}

.donar {
    display: flex;
    margin: 150px 200px;
}

.texto-donar h3 {
    color: #008EDB;
}
 


/*---------------------------CONTACTO----------------------------- */
.contacto{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 100px;
    margin-bottom: 52px;
    gap: 40px;
}
/*columna derecha*/
.izquierda{
    display: flex;
    flex-direction: column;
    max-width: 836px;
    gap: 46px;

}

.arriba-izq{
    display: flex;
    align-items: start;
    gap: 10px;
}
.texto-izq h2{
    color: #008EDB;
}

.texto-izq{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 834px;
}
/*columna derecha   FORMULARIO*/
.derecha{
    display: flex;
    align-items: flex-start;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.form-arriba{
    padding: 23px 75px 23px 49px;
    border-radius: 50px 0px 0px 0px;
    background-color: #008EDB;
}
.form-arriba p{
    color: #F0F0F0;
}

/* no sé cómo cambiar el color de Nombre y Apellido, Teléfono etc del form, intenté dandole clases etc pero no hay caso(al final de esto está el id con los que intenté)
logré que al tipear se ponga en blanco... también me gustaría saber si en Seleccione una estación se puede cambiar el color de las opciones.*/

.form-abajo{
    background-color: #008EDB;
    border-radius: 0px 0px 49px 49px;
    padding: 33px 39px;
    display: flex;
    flex-direction: column;
    padding: 5px 39px 33px;
    color: #F0F0F0;
}

.casillas{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.botones-form{
    display: flex;
    justify-content: space-between;
}
.boton-enviar{
    background-color: #008EDB;
    border: #F0F0F0 2px solid;
}

input{
    background-color: #008EDB;
    border: 0px;
    border-bottom: #F0F0F0 2px solid;
    padding-top: 20px;
    color: #F0F0F0;
}

select{
    background-color: #008EDB;
    border: 0px;
    border-bottom: #F0F0F0 2px solid;
    padding-top: 20px;
}
textarea{
    background-color: #008EDB;
    border: 0px;
    border-bottom: #F0F0F0 2px solid;
    padding-top: 20px;
}

#comentario{
    color: #F0F0F0;
}

#telefono{
    color: #F0F0F0;
}


/*--------------------------MEMES----------------------*/

.galeria{
    padding-top: 80px;
}
.grid-container{
    width: 50%;
    justify-content: center;
    margin: 30px auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 212px 212px 212px 212px;
    grid-gap: 20px;
}














































